[MASTER]

# TODO: Remove this rules whenever the package is stable
disable = C0114,C0115,C0116
jobs = 0

[FORMAT]

# Disable some rules that are handled by black formatter
disable = C0330, C0326
max-line-length = 88