[tool.poetry]
name = "dotpyle"
version = "0.1.0"
description = "Test"
authors = ["Jorge Bodega <jorge.bodega.f@gmail.com>", "", ""]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
pylint = "^2.6.0"
pep8 = "^1.7.1"
argparse = "^1.4.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
app = "dotpyle.main:main"
